<h1>Payments records</h1>

<p style="display: inline-block;">Select a tenant</p>
<%= select_tag "tenant", options_from_collection_for_select(Tenant.all, "id", "name"),options = {:prompt=> 'Tenants', :onchange => "test(this.options[this.selectedIndex].value);"}%>

<div class="result">
	


	
</div>
