<!DOCTYPE html>
<html>
<head>
	<title>Rent app</title>
</head>
<body>
	<div class="menu">
		<h3>Tenant records - </h3>
		<h3>Rent payments - </h3>
		<h3>Cash flows - </h3>
		<h3>Other reports</h3>
	</div>


	<h1 class="welcome">WELCOME</h1>

</body>
</html>