<!DOCTYPE html>
<html>
<head>
	<title>Rent app</title>
</head>
<body>
	<div class="menu">
		<%= link_to "Tenant records - "%>
		<%= link_to "Rent payments - ", "/payments/new"%>
		<%= link_to "Cash flows - " %>
		<%= link_to "Other reports - "%>
	</div>


	<h1 class="welcome">WELCOME</h1>

</body>
</html>